:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --primary-font-family: 'EB Garamond', serif;
  --secondary-font-family: 'Lato', sans-serif; 
  --primary-color: 89, 39, 0, 1;
  --luxurious-color: 164, 129, 17
}
/* rgba(126.5, 84.0, 8.5, 1.0) */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font-family);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: var(--primary-font-family);
}

.primary-color {
  color: rgba(var(--primary-color)) !important;
}

.primary-background {
  background-color: rgba(var(--primary-color)) !important;
}

.luxurious-color {
  color: rgba(var(--luxurious-color)) !important;
}

.luxurious-background {
  background-color: rgba(var(--luxurious-color)) !important;
}


/* background: rgba(255, 253, 208);
background: rgba(245, 245, 220); */